
mirror_poses:
  apply: true
  parameters:
    frame_width: 1920
    num_channels: 3
  probability: 0.5

shift_poses:
  apply: true
  parameters:
    max_shift: 30.0
    min_shift: -30.0
    num_joints: 46
  probability: 0.75

scale_poses:
  apply: true
  parameters:
    min_scale: 0.5
    max_scale: 1.5
  probability: 0.6


# random_choose:
#   apply: true
#   parameters:
#     size: 25
#     auto_pad: true
#   probability: 1.0

random_move:
  apply: true
  parameters:
    angle_candidate: [-10, -5, 0, 5, 10]
    scale_candidate: [0.9, 1.0, 1.1]
    transform_candidate: [-0.2, -0.1, 0, 0.1, 0.2]
    move_time_candidate: [1, 2]
  probability: 0.5

jittering:
  apply: true
  parameters:
    sigma: 0.1
  probability: 0.5
# crop_and_resize:
#   apply: true
#   parameters:
#     min_p: 0.7
#     max_p: 0.8
#     size: 30
#   probability: 0.5
scaling:
  apply: true
  parameters:
    dimensions: 3
    min_p: 0.7
    max_p: 1.2
  probability: 0.5
rotation:
  apply: true
  parameters:
    dimensions: 3
    start: -15
    end: 15
    step: 2
    anchor_joint: 2
  probability: 0.5
shear:
  apply: true
  parameters:
    dimensions: 3
    beta: 0.2
  probability: 0.5